<header>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-multiroom" id="btn-navbar-toggle">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
	     			 <a class="navbar-brand" href="/"><img src="images/img-navbar.png"></a>
	    		</div>
	    		<div class="collapse navbar-collapse" id="navbar-multiroom">
	    			<ul class="nav navbar-nav">
	    				<li><a href="#" id="exibir-chat">Chat</a></li>
	    				<li><a href="#" id="exibir-participantes">Participantes</a></li>
	    			</ul>
	    		</div>
			</div>				
		</nav>	
</header>