<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MultiRoomChat!</title>
	<link rel="icon" href="images/favicon.png" />
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/screen.css">
	<script src="components/jquery/dist/jquery.min.js"></script>
	<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="javascripts/script.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
